/* ===========================================
   4. Scrollytelling (แก้ไข)
   =========================================== */

#scrolly-container {
    max-width: 1200px;
    margin: 0 auto;
}

#scrolly-steps {
    max-width: 750px;
    padding: 0 40px;
    margin: 0 auto;
}

.step {
    padding-bottom: 40px; /* ลดช่องว่าง: เดิม 80px */
    opacity: 0.25;
    transition: 0.5s;
}

.step.is-active {
    opacity: 1;
}

.step p, .step ul {
    color: #5D4037;
}